.Rproj.user/6AFC177B/rmd-outputs
.Rproj.user/6AFC177B/saved_source_markers
.Rproj.user/6AFC177B/jobs/6F3DBB3B-output.json
.Rproj.user/6AFC177B/jobs/F63F1F8E-output.json
.Rproj.user/6AFC177B/pcs/files-pane.pper
.Rproj.user/6AFC177B/pcs/source-pane.pper
.Rproj.user/6AFC177B/pcs/windowlayoutstate.pper
.Rproj.user/6AFC177B/pcs/workbench-pane.pper
.Rproj.user/6AFC177B/sources/prop/0860B207
.Rproj.user/6AFC177B/sources/prop/0A337236
.Rproj.user/6AFC177B/sources/prop/22C2371E
.Rproj.user/6AFC177B/sources/prop/236FFAAE
.Rproj.user/6AFC177B/sources/prop/252ADA3C
.Rproj.user/6AFC177B/sources/prop/25CD5B8B
.Rproj.user/6AFC177B/sources/prop/28EBB11B
.Rproj.user/6AFC177B/sources/prop/30828B3D
.Rproj.user/6AFC177B/sources/prop/516366C2
.Rproj.user/6AFC177B/sources/prop/67C4F64A
.Rproj.user/6AFC177B/sources/prop/81620FE6
.Rproj.user/6AFC177B/sources/prop/909C53B6
.Rproj.user/6AFC177B/sources/prop/92979113
.Rproj.user/6AFC177B/sources/prop/9430573F
.Rproj.user/6AFC177B/sources/prop/9AAA2D08
.Rproj.user/6AFC177B/sources/prop/9E842F81
.Rproj.user/6AFC177B/sources/prop/AA8D98C6
.Rproj.user/6AFC177B/sources/prop/B4F398F0
.Rproj.user/6AFC177B/sources/prop/B7D8DAF8
.Rproj.user/6AFC177B/sources/prop/BE0F2653
.Rproj.user/6AFC177B/sources/prop/C233AF1D
.Rproj.user/6AFC177B/sources/prop/CDCE8334
.Rproj.user/6AFC177B/sources/prop/F633D090
.Rproj.user/6AFC177B/sources/prop/F83EEECD
.Rproj.user/6AFC177B/sources/prop/FB565CD8
.Rproj.user/6AFC177B/sources/prop/INDEX
.Rproj.user/6AFC177B/sources/s-1B36F957/066A07C4
.Rproj.user/6AFC177B/sources/s-1B36F957/066A07C4-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/08BE0ADD
.Rproj.user/6AFC177B/sources/s-1B36F957/08BE0ADD-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/0D005F73
.Rproj.user/6AFC177B/sources/s-1B36F957/0D005F73-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/27F0813E
.Rproj.user/6AFC177B/sources/s-1B36F957/27F0813E-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/3C36C8C2
.Rproj.user/6AFC177B/sources/s-1B36F957/3C36C8C2-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/433519E9
.Rproj.user/6AFC177B/sources/s-1B36F957/433519E9-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/506EB5CB
.Rproj.user/6AFC177B/sources/s-1B36F957/506EB5CB-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/50A79A86
.Rproj.user/6AFC177B/sources/s-1B36F957/50A79A86-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/95ED7979
.Rproj.user/6AFC177B/sources/s-1B36F957/95ED7979-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/B7D99D58
.Rproj.user/6AFC177B/sources/s-1B36F957/B7D99D58-contents
.Rproj.user/6AFC177B/sources/s-1B36F957/lock_file
outputs/h4_kitti_compens_PVA_plot_breeding pairs projections vs observed counts.png
outputs/h4_kitti_compens_PVA_tbl_non-returning breeding pairs_quantiles.csv
outputs/h4KittiCompens_FlambBemp_PVA_plot_breeding pairs projections vs observed counts_post-2000.png
outputs/h4KittiCompens_FlambBemp_PVA_tbl_non-returning breeding pairs_quantiles_post-2000.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
h4_compensation_kitti_mockPVA.R
h4_kitti_compensation_PVA_Flamborough_Head_and_Bempton_Cliffs.R
h4_kitti_compensation_PVA_Flamborough_Head_and_Bempton_Cliffs_post-2000.R
